<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04b6b15873.js" crossorigin="anonymous"></script>

    <title>iMusic</title>

    <link href="/public/assets/index.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-2">
                <a href="/users/dashboard" style="color: #04A0C0;"><i class="fas fa-home"></i> Home</a>

                <% if(userRole == 0){ %>
                <a href="/users/actualizar"><i class="far fa-user"></i> Soy artista</a>
                <% } %>
                <% if(userRole == 1) { %>
                <a href="/users/artista"><i class="far fa-user"></i> Soy artista</a>
                <% } %>
                <% if(userRole == 2 || userRole == 3 || userRole == 4) { %>
                <a href=""> </a>
                <% } %>

                <% if(userRole == 0 || userRole == 1 ) { %>
                <p>PLAYLISTS</p>
                <ul>
                    <% for(let i = 0; i < playlists.length; i += 1) { %>
                    <% let obj = playlists[i] %>
                    <% for (let key in obj) { %>
                    <li style="color:#747981; list-style-type: none;"><%= obj[key] %></li>
                    <% } %>
                    <% } %>
                </ul>
                <a href="/users/playlist"><i class="fas fa-plus"></i> New playlist</a>
                <% } %>

            </div>
            <div class="main col-10">
                <div class="row">
                    <div class="col-6">
                        <% if(userRole == 0 || userRole == 1) { %>
                        <form>
                            <input type="text" placeholder="Buscar por..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <% } %>
                    </div>
                    <div class="premium-button col-6">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal"><i
                                class="far fa-user"></i></a>

                        <% if(subscription != 1) { %>
                        <button>
                            <a href="/users/premium">PREMIUM</a>
                        </button>
                        <% } %>

                        <% if(messages.success_msg) { %>
                        <p
                            style="color: white; margin-bottom: 0xp; padding-top: 20px; background-color: #3393D4; padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
                            <%= messages.success_msg %></p>
                        <% } %>

                        <% if(messages.error_msg) { %>
                        <p
                            style="color: white; margin-bottom: 0xp; padding-top: 20px; background-color: red; padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
                            <%= messages.error_msg %></p>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <% if(userRole == 2 || userRole == 3 || userRole == 4 ) { %>
                    <div class="container stats-section">
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <p><b>Albúm más reciente:</b></p>
                                <ol>
                                    <li> <%= mostRecentAlbum %> </li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <p><b>Artista con más popularidad:</b></p>
                                <ol>
                                    <li> <%= mostPopularArtist %> </li>
                                    <li> <%= mostPopularArtist2 %> </li>
                                    <li> <%= mostPopularArtist3 %> </li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <p><b>Cantidad de nuevas suscripciones durante los últimos 6 meses:
                                    </b></p>
                                <p> <%= numberNewSubscriptions %> </p>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <p><b>Artistas con mayor producción musical:</b></p>
                                <ol>
                                    <li> <%= artistWithMoreProduction %> </li>
                                    <li> <%= artistWithMoreProduction2 %> </li>
                                    <li> <%= artistWithMoreProduction3 %> </li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <p><b>Géneros más populares: </b></p>
                                <ol>
                                    <li> <%= popularGenres %> </li>
                                    <li> <%= popularGenres2 %> </li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <p><b>Usuarios más activos en la plataforma: </b></p>
                                <ol>
                                    <li> <%= amountLogs %> </li>
                                    <li> <%= amountLogs2 %> </li>
                                    <li> <%= amountLogs3 %> </li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <br />
                                <p><b>Eliminar artista (canciones, albumes): </b></p>
                                <button id="deleteButton"><a href="/users/deleteArtist">Eliminar</a></button>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <br />
                                <p><b>Modificar nombre de artista: </b></p>
                                <button id="getButton"><a href="/users/updateartist">Modificar</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Modificar nombre de album: </b></p>
                                <button id="getButton"><a href="/users/udpatealbum">Modificar</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Modificar canciones </b></p>
                                <button id="getButton"><a href="/users/updatetrack">Modificar</a></button>
                            </div>
                            <div class="col-md-12"
                                style="background-color: #0F141D; display: flex; justify-content: start; text-align: start; margin-top: 80px;">
                                <br />
                                <br />
                                <br />
                                <br />
                                <h2 style="color: #FFFFFF; margin-top: 30px; font-weight: 700;">Monitoreo</h2>
                                <br />
                            </div>
                            <% if(userRole == 2 || userRole == 3 ) { %>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <p><b>Desactivar track </b></p>
                                <button id="deleteButton"><a href="/users/deactivatetrack">Desactivar track</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <p><b>Desactivar álbum </b></p>
                                <button id="deleteButton"><a href="/users/deactivatealbum">Desactivar
                                        álbum</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Desactivar usuario sin suscripción </b></p>
                                <button id="deleteButton"><a href="/users/deactivateuserwithoutsubscription">Desactivar
                                        usuario</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Desactivar usuario registrado como artista </b></p>
                                <button id="deleteButton"><a href="/users/deactivateuserartist">Desactivar
                                        usuario</a></button>
                            </div>
                            <% } %>
                            <% if(userRole == 2 ) { %>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Eliminar suscipciones de usuario </b></p>
                                <button id="getButton"><a href="/users/deactivatesubscription">Modificar</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Asociar un usuario existente a un perfil de monitoreo </b></p>
                                <button id="getButton"><a href="/users/updatetomonitor">Modificar</a></button>
                            </div>
                            <% } %>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b> Generar los reportes ofrecidos por la plataforma </b></p>
                                <button id="getButton"><a href="/users/reportes">Obtener reporte</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b>Consulta de bitácora de operaciones </b></p>
                                <button id="getButton"><a href="/users/bitacora">Consultar bitácora</a></button>
                            </div>
                            <div class="col-md-12"
                                style="background-color: #0F141D; display: flex; justify-content: start; text-align: start; margin-top: 80px;">
                                <br />
                                <br />
                                <br />
                                <br />
                                <h2 style="color: #FFFFFF; margin-top: 30px; font-weight: 700;">Reportería</h2>
                                <br />
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <p><b> Total de reproducciones por semana </b></p>
                                <button id="retrieveButton"><a href="/users/reproduccionesporsemana">Obtener
                                        reporte</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <p><b> Los N artistas con las mayores reproducciones </b></p>
                                <button id="retrieveButton"><a href="#" data-bs-toggle="modal"
                                        data-bs-target="#getReproduccionesModal">Obtener
                                        reporte</a></button>
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b> Total de reproducciones por género </b></p>
                                <button id="retrieveButton"><a href="/users/reproduccionesporgenero">Obtener
                                        reporte</a></button>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="col-md-6" style="background-color: #0F141D;">
                                <br />
                                <br />
                                <p><b> Las N canciones con más reproducciones para un artista </b></p>
                                <button id="retrieveButton"><a href="#" data-bs-toggle="modal"
                                        data-bs-target="#getCancionesModal">Obtener
                                        reporte</a></button>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% if(userRole == 0 || userRole == 1 ) { %>
                    <div class="container filter-section">
                        <form action="">
                            <input type="hidden" id='hidden_token'>
                            <div class="col-sm-6 form-group row mt-4 px-0">
                                <select name="" id="select_genre" class="form-control form-control-sm col-sm-10">
                                    <option>Seleccionar genero...</option>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group row px-0">
                                <select name="" id="select_playlist" class="form-control form-control-sm col-sm-10">
                                    <option>Seleccioinar playlist...</option>
                                </select>
                            </div>
                            <div class="col-sm-6 row form-group px-0">
                                <button type="submit" id="btn_submit" class="btn btn-success col-sm-12">Search</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="list-group song-list">

                                </div>
                            </div>

                            <% if(userRole == 0 || userRole == 1) { %>

                            <!-- SI NO ES PREMIUM -->
                            <% if(subscription == 0) { %>

                            <% if( amountPlays < 3)  {%>
                            <div class="col-sm-6" id="song-detail">
                            </div>
                            <% } else {%>
                            <div class="col-sm-6" id="song-detail" style="position:absolute; left: -9999px;">
                            </div>
                            <% } %>

                            <!-- ENTONCES SI ES PREMIUM -->
                            <% } else { %>
                            <div class="col-sm-6" id="song-detail">
                            </div>
                            <% } %>

                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% if(userRole == 0 || userRole == 1) { %>
        <div class="row">
            <div class="music-player col-12">

                <div class="col-4"></div>
                <div class="col-4">
                    <p><i class="fas fa-step-backward"></i></p>
                    <a href="/users/canciones"><i class="far fa-play-circle"></i></a>
                    <p><i class="fas fa-step-forward"></i></p>
                </div>
                <div class="col-4"></div>

            </div>
        </div>
        <div class="row">
            <div class="music-progress col-12">
                <% if(userRole != 2) { %>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>

                <% } %>
            </div>
        </div>
        <% }%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="title col-12">
                            <img src="/public/assets/logo.jpg" height="40" width="40" alt="">
                            <h4>iMusic</h4>
                        </div>
                        <div class="profile-container col-12">
                            <h3>Mi perfil</h3><br />
                            <p><b>Nombre: </b> <%= user %></p><br />
                            <p><b>Correo: </b> <%= email %></p><br />

                            <% if(userRole != 2)  { %>
                            <% if(subscription != 1){ %>
                            <p><b>Premium: </b> No</p><br />
                            <% } else{ %>
                            <p><b>Premium: </b> Si</p><br />
                            <% } %>
                            <% } %>

                            <% if(userRole == 0){ %>
                            <p><b>Tipo de usuario: </b> Normal</p><br />
                            <% } %>
                            <% if(userRole == 1){ %>
                            <p><b>Tipo de usuario: </b> Artista</p><br />
                            <% } %>
                            <% if(userRole == 2){ %>
                            <p><b>Tipo de usuario: </b> Super usuario</p><br />
                            <% } %>

                            <button id="logout-btn"><a href="/users/logout">Logout</a></button><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="getReproduccionesModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="title col-12">
                            <img src="/public/assets/logo.jpg" height="40" width="40" alt="">
                            <h4>iMusic</h4>
                        </div>
                        <div class="login-to-continue col-12">
                            <p>Ingresar datos </p>
                        </div>
                        <div class="col-12">
                            <form action="/users/artistasreproducciones" method="GET">
                                <input type="text" id="fechaInicio" name="fechaInicio" placeholder="Fecha inicio"><br>
                                <input type="text" id="fechaFinal" name="fechaFinal" placeholder="Fecha final"><br>
                                <input type="text" id="limite" name="limite" placeholder="Limite" autofocus><br>
                                <input type="submit" value="Obtener">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="getCancionesModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="title col-12">
                            <img src="/public/assets/logo.jpg" height="40" width="40" alt="">
                            <h4>iMusic</h4>
                        </div>
                        <div class="login-to-continue col-12">
                            <p>Ingresar datos </p>
                        </div>
                        <div class="col-12">
                            <form action="/users/cancionesreproducciones" method="GET">
                                <input type="text" id="nombre" name="nombre" placeholder="Nombre de artista"><br>
                                <input type="submit" value="Obtener">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script src="/public/assets/app.js" type="text/javascript"></script>

</body>

</html>