<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04b6b15873.js" crossorigin="anonymous"></script>

    <title>iMusic</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link href="/public/assets/index.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-2" style="height: 100vh;">
                <a href="/users/dashboard" style="color: #04A0C0;"><i class="fas fa-home"></i> Home</a>
                <br />
                <br />
                <button class="simulate-button">
                    <a href="/users/simulacion">Simulaciones</a>
                </button>
            </div>
            <div class="main col-10" style="height: 100vh;">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="premium-button col-6">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal"><i
                                class="far fa-user"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="display: flex; justify-content: center;">
                        <h2 style="color: white;">Recomendaciones</h2>
                    </div>
                    <br />
                    <br />
                    <div class="col-1"></div>
                    <div class="col-10">
                    </div>
                    <div class="col-1"></div>

                    <div class="col-12">
                        <table>
                            <tr>
                                <th>#</th>
                                <th>cancion</th>
                                <th>Artista</th>
                                <th>Album</th>
                                <th>Fecha</th>
                                <th>Corrreo</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><%= cancionUno %></td>
                                <td><%= artistaUno %></td>
                                <td><%= albumUno %></td>
                                <td><%= fechaUno %></td>
                                <td><%= correoUno %></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><%= cancionDos %></td>
                                <td><%= artistaDos %></td>
                                <td><%= albumDos %></td>
                                <td><%= fechaDos %></td>
                                <td><%= correoDos %></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><%= cancionTres %></td>
                                <td><%= artistaTres %></td>
                                <td><%= albumTres %></td>
                                <td><%= fechaTres %></td>
                                <td><%= correoTres %></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><%= cancionCuatro %></td>
                                <td><%= artistaCuatro %></td>
                                <td><%= albumCuatro %></td>
                                <td><%= fechaCuatro %></td>
                                <td><%= correoCuatro %></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><%= cancionCinco %></td>
                                <td><%= artistaCinco %></td>
                                <td><%= albumCinco %></td>
                                <td><%= fechaCinco %></td>
                                <td><%= correoCinco %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

</body>

</html>